
.home-app {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 81vh;
    width: 100vw;
    background: rgb(142,101,12);
    background: linear-gradient(0deg, rgba(142,101,12,1) 0%, rgba(34,193,195,1) 100%);
}
.tag-cont{
   
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 350px;
    width: 350px;
    color: white;
    background-color: rgb(1, 6, 76);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.70);
}
.h1{
    font-size: 4em;
}
.h3{
    font-size: 1.5em;
}

.fromTop {
    animation-name: fromTop;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
}

@keyframes fromTop {

    0% {
        transform: translateY(-120px);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    75%{
        transform: translateY(-20px);
        opacity: 1;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }

}

.scaleUp{
    animation-name: scaleUp;
    animation-duration: 1.5s;
    /* animation-iteration-count: infinite; */
}

@keyframes scaleUp {
    0% {
        transform: scale(.5);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}